StreamVideo
StreamCall
StreamTheme

--- APIS
StreamVideoClient for call creation 
use user id for quering inside the client and getting specific meeting 

--- Hook
useStreamVideoClient for getting the client and then quering it 
useCall for getting the current call

--UI
VideoPreview
DeviceSettings
CallParticipantsList
CallControls
CallStatsButton

--- css file
import "@stream-io/video-react-sdk/dist/css/styles.css";

destructure state attribute of call object which you get from useCall do get the meeting values